/* 
------------
Custom properties
------------
*/
:root{
    --ff-primary: 'Quicksand', sans-serif;
    --ff-secondary: 'Pacifico', cursive;

    --clr-yellow: "#fdfbd3";
    --clr-dark: "#00000"

    --spacer: 1rem
}
/* 
------------
Resets
------------
*/
*{
    box-sizing: border-box;
}
body{
    font-family: var(--ff-primary);
}
main{
  padding-bottom: 1rem;
}

/* 
------------
Header
------------
*/

img{
  max-width: 9rem;
}
nav{
  width: min(90%, 70rem);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media(min-width: 780px) {
  header{
    padding: 2rem 0 0;
    margin-bottom: 3rem;
  }
  
  .link{
    margin-bottom: 0;
  }
  .link a{
    font-size: 2rem;
  }
}


/* CSS */
.add-new-note p {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.add-new-note p:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.add-new-note p:hover:after {
  transform: translate(0, 0);
}

.add-new-note p:active {
  background-color: #ffdeda;
  outline: 0;
}

.add-new-note p:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .add-new-note p {
    padding: 0 40px;
  }
}