
/* 
------------
Note
------------
*/
.container {
  width: min(90%, 70rem);
  margin: 0 auto;
}
#home{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.note{
    background-color: #fdfbd3;
    padding: .5rem;
    border: 3px solid hsl(57, 91%, 31%);
    border-radius: 20px;
}

.note__title{
    font-weight: 400;
    font-family: 'Pacifico', cursive;
    font-size: .75rem;
    margin: 0;
}
.note__time{
    margin-top: 0;
    font-size: .75rem;
}
.note__body{
    font-size: .5rem;
}

@media(min-width: 780px) {
    #home{
        gap: 1.75rem;
    }
    .note__title{
        font-size: 1.75rem;
    }
    .note__time{
        font-size: 1.75rem;
    }
    .note__body{
        font-size: 1.25rem;
    }
}

@media(min-width: 1200px) {
    #home{
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}